
unstoppable-ios-app/domains-manager-ios/NetworkEnvironment/Env.swift
UserInterfaceState.xcuserstate
Breakpoints_v2.xcbkptlist
*.xcuserstate
*.xcbkptlist
*.xcuserstate
*.xcuserstate
*.xcbkptlist
xcuserdata/
*.xcuserdatad