<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Unstoppable</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.unstoppabledomains.manager</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>unstoppable</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.unstoppabledomains.manager</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wc</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>trust</string>
		<string>awallet</string>
		<string>argent</string>
		<string>atoken</string>
		<string>gnosissafe</string>
		<string>kleverwallet</string>
		<string>mathwallet</string>
		<string>metamask</string>
		<string>rainbow</string>
		<string>celo</string>
		<string>zel</string>
		<string>fuse.cash</string>
		<string>spot</string>
		<string>omni</string>
		<string>zerion</string>
		<string>dfw</string>
		<string>ledgerlive</string>
		<string>1inch</string>
		<string>aktionaria</string>
		<string>autonomy-wc</string>
		<string>avacus</string>
		<string>bitpay</string>
		<string>bridgewallet</string>
		<string>cybavowallet</string>
		<string>coin98</string>
		<string>zeluswallet</string>
		<string>coinstats</string>
		<string>coingrig</string>
		<string>coinomi</string>
		<string>dcent</string>
		<string>defiantapp</string>
		<string>easypocket</string>
		<string>edge</string>
		<string>eidoo</string>
		<string>essentials</string>
		<string>ellipal</string>
		<string>flare</string>
		<string>hashme</string>
		<string>julwallet</string>
		<string>keyring</string>
		<string>kyberswap</string>
		<string>lobstr</string>
		<string>leadwallet</string>
		<string>mykeywalletconnect</string>
		<string>mewwallet</string>
		<string>o3wallet</string>
		<string>ontoprovider</string>
		<string>orangewallet</string>
		<string>safemoon</string>
		<string>safepalwallet</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Used to scan QR codes</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Use Face ID to secure critical steps</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app requires access to photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app requires access to photo library</string>
	<key>UIAppFonts</key>
	<array>
		<string>HelveticaNeue-Custom.ttf</string>
		<string>Inter-Thin.ttf</string>
		<string>Inter-SemiBold.ttf</string>
		<string>Inter-Regular.ttf</string>
		<string>Inter-Medium.ttf</string>
		<string>Inter-Light.ttf</string>
		<string>Inter-ExtraLight.ttf</string>
		<string>Inter-ExtraBold.ttf</string>
		<string>Inter-Bold.ttf</string>
		<string>Inter-Black.ttf</string>
		<string>SF-Pro.ttf</string>
	</array>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
					<key>UISceneStoryboardFile</key>
					<string>LaunchScreen</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>bugsnag</key>
	<dict>
		<key>apiKey</key>
		<string>bc471d79e666ce83787724f3b14c8562</string>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
	</array>
	<key>NFCReaderUsageDescription</key>
	<string>NFC tag to read NDEF messages into the application</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>To discover and connect with other devices</string>
</dict>
</plist>
